body{
    background-color: rgb(236, 27, 27);
}
h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 260px;
    left: 25px;
}
#clickbtn{
    position: absolute;
    font-size: 35px;
    top: 350px;
    left: 150px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
#clickbtn:hover{
    cursor: pointer;
    background-color: blue;
}