body{
    background-color: rgb(236, 27, 27);
}
h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 400px;
    left: 25px;
}
#clickbtn{
    position: absolute;
    font-size: 35px;
    top: 470px;
    left: 160px;
    background-color: green;
    color: white;
}